<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Contatos</h4> -->
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 d-flex justify-content-center list-footer">
                <ul class="list-unstyled ">
                    <li>
                        <h5 class="text-white">Navegue</h5>
                    </li>
                    <li>
                        <small><a routerLink="/">Nossos profissionais</a></small>
                    </li>
                    <li>
                        <small><a routerLink="/">Sobre</a></small>
                    </li>
                    <li>
                        <small><a routerLink="/">Contato</a></small>
                    </li>

                </ul>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <h5 class="text-center text-white">Redes Sociais</h5>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blank"
                            class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>

                    </li>

                    <li>
                        <a href="https://brazil.generation.org/" target="_blank" class="icoSite">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/projeto-integrador-gen5-45/LiveFreeFront" target="_blank"
                            class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-md-4 d-flex justify-content-center list-footer">
                <ul>
                    <h5 class="text-center text-white">Sobre</h5>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorem
                        repellendus optio aut quidem natus aliquam laborum non!
                        Repellat a?</p>
                </ul>

            </div>
        </div>
    </div>

    <div class="row d-flex flex-column align-items-center text-white">
        <div class="col-md-10 d-flex justify-content-center">
          <small class="">A LiveFree é um projeto institucional para fins estudantis,
            nenhum dos serviços listados neste site estão realmente disponiveis.</small>
        </div>
      </div>

</footer>