<h1 class="text-center">sobre works!</h1>

<div class="row">
    <div class="col-md-6" id="img-bg"></div>
    <div class="col-md-6 mt-5 mb-5">
        <div class="row d-flex justify-content-center">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam laudantium itaque libero, consectetur
                commodi aliquid, placeat iure hic
                ullam explicabo mollitia, dicta accusantium repellat optio doloremque velit similique harum tempore?</p>
        </div>
    </div>
</div>