menu
<!--conteudo inicial-->
<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <h1 class="fs-54">Seja bem vindo!</h1>
            <h5 class="fs-18">Desabafa aí, vai...</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-3 mb-5 ">
          <div class="col-md-6">
            <button class="btn btn-outline-light mr-2"><a href="#postagens" class="text-white">Ver postagens</a></button>
            <button class="btn btn-light" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://i.imgur.com/EOaM0PH.gif" width="100%" alt="">
      </div>
    </div>
  </div>
<!--Filtros-->
menu de filtros
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <button></button>
  <button></button>
  <button></button>
  <button></button>

<!--Cards-->
Exebição dos cards