<div class="container-fluid  bg-home">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">LiveFree</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto gap-home">
        <li class="nav-item ">
            <button class="nav-link btn-entrar btn" href="#" routerLink = "/entrar"> Entrar</button>
          </li>
          <li class="nav-item">
              <button class="nav-link btn-cadastrar" href="#" routerLink = "/cadastrar">Cadastrar</button>
          </li>
      </ul>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center divteste">
    <div class="row text-center">

           <div class="col-md-12">
            
            <h1 class="display-3">LiveFree</h1>
            <h4 class="display-5">Saúde para quem realmente precisa.</h4>
                
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              <br> Ex ea libero ut,cupiditate architecto aliquid debitis
            </p> 
            
            <div class=" d-flex justify-content-center">
                <button class="nav-link btn-cadastrar" href="#" routerLink = "/cadastrar">Conheça nossos profissionais!</button>
            </div>
        </div> 
        
    </div>
  </div>
</div>